.category-item-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0px;
}

.category-item {
    width: 20%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
    border: 1px solid hsl(0, 0%, 93%);
    border-radius: 10px;
}

.category-img-box {
    background: white;
    border: 1px solid hsl(0, 0%, 80%);
    padding: 10px;
    border-radius: 5px;
    width: 30px;
}

.category-content-box {
    width: 100%;
}

.category-content-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px
}

.category-item-title {
    color: hsl(0, 0%, 13%);
    font-size: 15px;
    font-weight: 600;
    margin: 0px;
}

.category-item-amount {
    color: hsl(0, 0%, 47%);
    font-size: 12px;
    margin: 0px;
}

.category-btn {
    color: hsl(353, 100%, 78%);
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    float: left;
}