.dentcare{
    width: 150px;
    height: 20px;
}
.first{
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
    color: #1E1E1E;
    font-family:serif ;
    align-items: center;
   
}
.second{
    display: flex;
    justify-content: space-evenly;
}
.red{
    font-size: 50px;
    position: absolute;
    top: 200px;
    left: 100px;
    
}
.purple{
    
    border-radius: 50%;
    background-color: aqua;
}
.btn{
  position: absolute;
  top: 400px;
  left: 115px;
  border-radius: 10%;
  background-color: rgb(73, 163, 73);
  height: 75px;
  width: 160px;
}
.look{
    height: 620px;
    width: 600px;
    position: absolute;
    top: 100px;
    left: 750px;

}
a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    
}
.third{
    display: flex;
    justify-content: space-around;
    border-radius: 20%;
}
.booking{
height: 80px;
width: 200px;
position: absolute;
top: 400px;
left: 85px;
}
.contact{
    width: 120px;
    height: 50px;
}



/* jfhduhrhfejhfjyerhfjyhrhjgf */
.category-item {
    width: 20%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
    border: 1px solid hsl(0, 0%, 93%);
    border-radius: 10px;
}

.category-item-title {
    color: hsl(0, 0%, 13%);
    font-size: 15px;
    font-weight: 600;
    margin: 0px;
}

.high{
    display: flex;
    justify-content: space-around;
color: #1E1E1E;
font-family: serif;
font-size: 20px;
height: 120px;
 
}