.first{
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
    color: #1E1E1E;
    font-family:serif ;
   
}
.second{
    display: flex;
    justify-content: space-evenly;
}
.red{
    font-size: 50px;
    
}
.btn{
  position: absolute;
  top: 400px;
  left: 115px;
  border-radius: 10%;
  background-color: rgb(73, 163, 73);
  height: 75px;
  width: 160px;
}
img{
    height: 620px;
    width: 600px;
}
a{
    text-decoration: none;
    color: black;
}
.third{
    display: flex;
    justify-content: space-around;
    border-radius: 20%;
}
.booking{
height: 80px;
width: 200px;
position: absolute;
top: 400px;
left: 60px;
}
.contact{
    height: 40px;
    width: 120px;
}