.icon {
    color: red;
    font-size: 25px;

}

.logo {
    color: rgb(11, 11, 11);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    align-items: center;
    font-weight: bold;



}

.solo-stove {
    display: flex;
    justify-content: space-between;

}

.header-main-search {


    display: flex;
    align-items: center;
    height: 40px;
    justify-content: space-between;
}

.header-main-search-bar {
    width: 350px;

    background-color: rgb(211, 211, 211);
    border: none;
    border-left: 50px;

}

.search-button {

    background-color: rgb(211, 211, 211);
    height: 18px;
    border: none;
    border-right: 50px;

}

.header-main-actions {
    display: flex;
    flex-direction: row;


}

.header-main-actions>a {

    color: black;
    padding: 5px;
    font-size: 20px;
    margin: 0 5px;
}

.com2>li {
    list-style-type: none;
    text-decoration: none;
    padding: 0px;
}

.com2 {
    list-style-type: none;
    text-align: right;
    display: flex;

}

.header-top {
    display: flex;
    align-items: center;
}

.solo-nav {
    display: flex;
    list-style-type: none;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 9px;
    font-weight: bold;
    text-decoration: none;
    margin: 5px;
    border-style: groove hidden ridge;
    border-left-width: 10px;
    justify-content: left;


}

.solo-nav>li {
    padding: 10px;
    margin: 3px;
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 17px;
    text-decoration: none;

}

.white {
    display: flex;
    align-items: center;
}

.blue {

    text-decoration: none;
    color: rgb(27, 21, 21);
    float: right;
    display: flex;
    align-items: center;
    padding: 10px;
}

.yellow {
    color: rgb(25, 25, 25);
    text-decoration: none;
    margin-right: 30px;


}

.red {
    padding: 3px;
}


.container {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.container img {
    width: 1420px;
    height:450px;


}

.container .btn {
    position: absolute;
    top: 58%;
    left: 50%;
    background-color: rgb(22, 152, 22);
    color: white;
    font-size: 15px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    width: 170px;
}

.container .btn:hover {
    background-color:palegreen ;
}

.top-left {
    position: absolute;
    top: 30%;
    left: 200px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

.modern {
    position: absolute;
    top: 35%;
    left: 200px;
    font-size: 23px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
}

.dollar {
    position: absolute;
    top: 49%;
    left: 200px;
    font-size: 13px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

/* second part */



.category-item-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  
    margin: 50px ;
}

.category-item {
    width: 20%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 1px solid hsl(0, 0%, 93%);
 
}

.category-icon-box {
    background: white;
  
    padding: 10px;
    
    width: 30px;
}

.category-content-box {
    width: 100%;
}

.category-content-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px
}

.category-item-title {
    color: hsl(0, 0%, 13%);
    font-size: 15px;
    font-weight: 600;
    margin: 0px;
}


.category-btn {
    color:black;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    float: left;
}




